.autocomplete {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  max-width: 200px;
  max-height: 150px;
  overflow-y: auto;
  z-index: 10;
}

.autocomplete-item {
  padding: 8px;
  cursor: pointer;
}

.autocomplete-item:hover {
  background-color: #f1f1f1;
}
